* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#title {
  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 120px;
}

body {
  font-family: "Instrument Sans", system-ui;

  font-weight: 400;
  font-style: normal;
}

#tagline {
  font-family: "Instrument Sans", system-ui;
  font-weight: 600;
  font-size: 20px;
  margin-top: 10px;
}

#quote h4 {
  font-family: "Instrument Sans", system-ui;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
}

.lighter {
  color: #717171;
}
