/* Nav link underline on hover */
.navbar .nav-link {
  position: relative;
  overflow: visible;
  color: white;
  z-index: 1;
}

.navbar .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  top: calc(100% - 5px);
  height: 4px;
  width: 0;

  background: #e53935;
  transition: width 160ms ease-in-out;
  z-index: 0;
}

.navbar .nav-link:hover::after,
.navbar .nav-link:focus::after,
.navbar .nav-link.active::after {
  width: 100%;
}

/* Toggler (mobile) - underline on hover */
.navbar .navbar-toggler {
  position: relative;
  z-index: 1;
}

.navbar .navbar-toggler::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  height: 2px;
  width: 0;
  background: #e53935;
  transition: width 160ms ease-in-out;
  pointer-events: none;
  z-index: 0;
}

.navbar .navbar-toggler:hover::after,
.navbar .navbar-toggler:focus::after {
  width: 100%;
}
